<!DOCTYPE html>
<html>
  <head>
    <title>Democamp</title>
    <link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" type="image/jpg" href="https://raw.githubusercontent.com/droid4alex/Democamp/main/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" property="og:title" content="Democamp Project Management App. Features include: Projects, To-dos, Messages, Schedule, Users." />
    <meta name=”description” content="Democamp is a partial clone of Basecamp, an application for project management. The website has login and signup pages which allows the user to create an account or sign in. The user can try a demo login to test out our features if the user does not want to sign up for an account. There is a navigation bar at the top of the site to allow users to navigate through helpful options. Once users are logged in to Democamp they are redirected to the user dashboard. The user dashboard lists all project titles and descriptions that users have created. Each projects index page shows the cards for the todos, messages, and schedule components. Each components page shows the details for that component." />
    <meta name="keywords" content="Democamp was written in Javascript, Redux and React, Rudy on Rails, HTML, CSS. Database is PostgresSQL. Heroku server host." />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/droid4alex/Democamp/main/app/assets/images/democamp.gif" />
    <meta name="author" content="Alex Lang" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
